<%= form_for(Company.new, url: companies_login_path, html: {class: 'form-horizontal'}) do |f| %>
    <div class="control-group">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="control-group">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="control-group controls">
      <%= f.submit "Login", class: 'btn btn-primary' %>
    </div>
<% end %>